__pycache__
*.pyc
*.pyo

dist/
build/
*.egg-info/
.venv/
.tox/

venv/
env/
.env/
.python-version

instance/
*.sqlite
*.db

*.log
tmp/
.webassets-cache

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# DATABASE
*.sqlite3